

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
   background-color: #e8e8e8;
}

#main-container {
   max-width: 70%;
   margin: 20px auto;
   border-radius: 10px;

}

#site-logo {
   float: left;
   display: inline-block;
   margin-left: 50px;
}

#site-logo img {
   margin-top: 50px;
}

header {
   height: 150px;
}

#top-navbar {

}