

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main-container {
   background-color: #e8e8e8;
   width: 1200px;
   margin: 0 auto;
}