.logo {
    float: left;
    display: inline-block;
    margin-left: 50px;
}

.logo img {
    margin-top: 50px;
}

.hero {

}

.slider {

}

.section-header {
    margin-bottom: 20px;
}

.item-title {
    margin-top: 5px;

}

.item-subtitle {
    color: #5e5e5e;
    font-size: 0.7em;
    margin-top: 10px;
}

.item-text {

}

.article-title {

}

.article-subtitle {

}

.article-text {

}

.news-item h3 {
}


#projects-header {
}

.highlighted-project-item a {
    text-decoration: none;
    color: #333333;
}